/* Footer */
footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  footer p {
    color: #777;
    font-size: 14px;
  }
  
  footer p a {
    color: #ff7f50;
    text-decoration: none;
  }
  
  footer p a:hover {
    color: #fff;
  }

  @media (max-width: 768px) {
    footer {
      padding: 15px;
    }
  
    footer p {
      font-size: 12px;
    }
  }