/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #070708, #985517);
  padding: 20px;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-heading {
  font-size: 28px;
  margin-bottom: 10px;
  color: black;
}

.login-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.login-form input:focus {
  border-color: #6a11cb;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.login-submit {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #070708, #985517);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-submit:hover {
  background: linear-gradient(135deg, #f25a0f, #e3bb35);
  transform: scale(1.05);
}

/* Password Container */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 2.5rem;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
}

.toggle-password:hover {
  color: #333;
}

.register-link {
  font-size: 14px;
  color: #985517;
  cursor: pointer;
  margin-left: 15px;
}

.register-link:hover {
  text-decoration: underline;
}

.register-account {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-box {
    padding: 20px;
    margin: 10px;
  }

  .login-heading {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .login-box {
    padding: 15px;
  }

  .login-heading {
    font-size: 20px;
  }

  .login-form input {
    padding: 10px;
  }
}