/* General Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 100px;
  background-color: rgba(51, 51, 51, 0.45); /* 45% transparency */
  color: white;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  flex: 1; /* Push the logo to the left */
}

.navbar-links {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 50px; 
  flex: 2; 
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f0a500;
}

/* User Dropdown and Login Icon */
.user-dropdown,
.login-icon {
  flex: 1; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-icon {
  font-size: 16px; 
  margin-right: 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  gap: 5px; 
}

.login-icon:hover {
  color: #f0a500;
}

.nav-user-name {
  font-size: 16px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px; 
}


.cart-icon svg {
  color: black !important; 
  margin-left: 10px;
}

.cart-icon:hover svg {
  color: #f0a500 !important; 
}

.user-icon {
  font-size: 18px; 
}

.user-name {
  margin-left: 5px; 
}

.dropdown-icon {
  margin-left: 5px; 
}


.nav-user-name:hover {
  color: #f0a500;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  color: #000;
  margin-right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 120px;
  padding: 10px 0;
}

.dropdown-item {
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  background: none;
  border: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* Cart Icon */
.navbar-links .fa-cart-shopping {
  font-size: 18px;
  color: white;
}

.navbar-links .fa-cart-shopping:hover {
  color: #f0a500;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .nav-link {
    font-size: 14px;
  }

  .nav-user-name {
    margin-left: 0;
  }

  .dropdown-menu {
    right: auto;
    left: 0;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    font-size: 20px;
  }

  .nav-link {
    font-size: 12px;
  }

  .dropdown-item {
    font-size: 12px;
  }
}